DT_COMPAT_ZMK_BEHAVIOR_MOMENTARY_LAYER_LOCK := zmk,behavior-momentary-layer-lock

config ZMK_BEHAVIOR_MOMENTARY_LAYER_LOCK
    bool
    default $(dt_compat_enabled,$(DT_COMPAT_ZMK_BEHAVIOR_MOMENTARY_LAYER_LOCK))
